<% include ../partials/header %>

    
<h1> Tic Tac Toe! </h1>

<table>
    <tr>
        <td id="0">0</td>
        <td id="1">1</td>
        <td id="2">2</td>
    </tr>
    <tr>
        <td id="3">3</td>
        <td id="4">4</td>
        <td id="5">5</td>
    </tr>
    <tr>
        <td id="6">6</td>
        <td id="7">7</td>
        <td id="8">8</td>
    </tr>
</table>

<h1 id="statusLine">It's Player 1's Turn!</h1>

<button id="reset">Reset</button>






<!--init function is just the reset function. Is there a point to having it?-->
<!--Lot's of static text, maybe try and set up a cleaner way?-->
<!--Be careful with the gameEnd function and how it interacts with the player turns after the final click event-->
<!--Please for the love of god refactor the board connect logic-->
<!--Removing the event listeners in this current thing doesn't work due to the anon function to set up the vBoard-->

<script>
    var squares = document.querySelectorAll("td");
    var gameOver = false;
    var playerOneTurn = true;
    var statusLine = document.getElementById("statusLine");
    var resetButton = document.getElementById("reset");
    var vBoard = [[0, 0, 0],[0, 0, 0],[0, 0, 0]];
    
    init();
    
    function init(){
        reset();
    }
    
    
    function setUpSquares(){
        for(let i = 0; i < squares.length; i++){
            //This function connects the game board with the virtual game board array
            squares[i].addEventListener('click', function(){
                if(!gameOver){
                    var remainder = (i % 3);
                    if(i < 3){
                        if(playerOneTurn){
                            vBoard[0][remainder] = 1;
                        } else {
                            vBoard[0][remainder] = 2;
                        }
                    } else if(i < 6){
                        if(playerOneTurn){
                            vBoard[1][remainder] = 1;
                        } else {
                            vBoard[1][remainder] = 2;
                        }
                    } else {
                        if(playerOneTurn){
                            vBoard[2][remainder] = 1;
                        } else {
                            vBoard[2][remainder] = 2;
                        }
                    }
                    colorChange(squares[i]);
                    this.removeEventListener('click', arguments.callee);
                    checkWin();
                }
            });
        }
    }
    
    function colorChange(square){
        if(!gameOver){
            if(playerOneTurn) {
                square.classList.add("player1");
                statusLine.textContent = "It's Player 2's Turn!"
            } else {
                square.classList.add("player2");
                statusLine.textContent = "It's Player 1's Turn!"
            }
            playerOneTurn = !playerOneTurn;
        }
    }
    
    function checkWin(){
        checkRows();
        checkColumns();
        checkDiagonals();
    }
    
    function checkRows(){
        for(let a = 0; a < 3; a++){
            if((vBoard[a][0] === 1 && vBoard[a][1] === 1 && vBoard[a][2] === 1) || (vBoard[a][0] === 2 && vBoard[a][1] === 2 && vBoard[a][2] === 2)){
                console.log("game over");
                gameEnd();
            }
        }
    }
    
    function checkColumns(){
        for(let b = 0; b < 3; b++){
            if((vBoard[0][b] === 1 && vBoard[1][b] === 1 && vBoard[2][b] === 1) || (vBoard[0][b] === 2 && vBoard[1][b] === 2 && vBoard[2][b] === 2)){
                console.log("game over");
                gameEnd();
            }
        }
    }
    
    function checkDiagonals(){
        if(((vBoard[0][0] === 1 && vBoard[1][1] === 1 && vBoard[2][2] === 1) || (vBoard[0][0] === 2 && vBoard[1][1] === 2 && vBoard[2][2] === 2))){
            console.log("game over");
            gameEnd();
        }
        if(((vBoard[0][2] === 1 && vBoard[1][1] === 1 && vBoard[2][0] === 1) || (vBoard[0][2] === 2 && vBoard[1][1] === 2 && vBoard[2][0] === 2))){
            console.log("game over");
            gameEnd();
        }
    }
    
    function gameEnd(){
        for(let i = 0; i < squares.length; i++){
            squares[i].removeEventListener('click', colorChange);
        }
        if(!playerOneTurn){
            statusLine.textContent = "Player 1 is the winner!";
        } else {
            statusLine.textContent = "Player 2 is the winner!";
        }
        gameOver = true;
    }
    
    
    function reset(){
        gameOver = false;
        vBoard = [[0, 0, 0],[0, 0, 0],[0, 0, 0]];
        turn = 1;
        playerOneTurn = true;
        statusLine.textContent = "It's Player 1's Turn!"
        for(let i = 0; i < squares.length; i++){
            squares[i].classList.remove("player1", "player2");
        }
        setUpSquares();
    }
    
    resetButton.addEventListener('click', reset)

</script>

<% include ../partials/footer %>