<% include ../partials/header %>

    
<h1> Tic Tac Toe! </h1>

<table>
    <tr>
        <td id="1">1</td>
        <td id="2">2</td>
        <td id="3">3</td>
    </tr>
    <tr>
        <td id="4">4</td>
        <td id="5">5</td>
        <td id="6">6</td>
    </tr>
    <tr>
        <td id="7">7</td>
        <td id="8">8</td>
        <td id="9">9</td>
    </tr>
</table>

<h1>It's Player <span id="playerId"> 1 </span>'s Turn!</h1>

<script>
    var squares = document.querySelectorAll("td");
    var playerId = document.getElementById("playerId");
    setUpSquares();
    
    var turn = 1;
    
    function setUpSquares(){
        for(let i = 0; i < squares.length; i++){
            squares[i].addEventListener('click', colorChange);
        }
    }
    
    function colorChange(){
        if(turn === 1) {
            this.classList.add("player1");
            turn = 2;
        } else {
            this.classList.add("player2");
            turn = 1;
        }
        this.removeEventListener('click', colorChange);
        playerId.textContent = turn;
    }

</script>

<% include ../partials/footer %>